@import url("/css/addons/unraid/login-page/fallout/fallout-base.css");
:root {
    --main-bg-color: transparent;
    --logo: url(https://i.imgur.com/PlQsioG.png) center no-repeat;
    --text-color: #22828;
    --input-color: #22828;
    --link-color: #22828;
    --link-color-hover: #22828;
    --case-color: #22828;
    --button-text-color: #22828;
    --button-text-color-hover: #991515;
    --button-color: #22828;
    --button-color2: #22828;
    --input-font: 'Share Tech Mono', monospace;
    --text-font: 'Share Tech Mono', monospace;
    --div-background-color-15: #22828;

    /* Replace the variables if you have a dark background  */
    /* Light colors for dark backgrounds */
    /*
        --div-background-color-15: rgba(255, 255, 255, 0.15);
    https://www.transparenttextures.com/patterns/hexellence.png
    https://www.transparenttextures.com/patterns/gplay.png
    https://www.transparenttextures.com/patterns/simple-horizontal-light.png
    https://www.colourlovers.com/palette/3428762/Fallout?widths=1
    */
}
@media (max-width: 500px) {
    body {
        background: url(https://i.imgur.com/0So6Tl4.jpg) center center/cover no-repeat fixed !important;
    }
    :root {
        --div-background-color-15: transparent; 
    }
}
